.bloc_center{
    margin-left: 5%;
    color: red;
}

.border{
    border: solid;
}

.margin_button{
    margin: 2%;
}

.google{
    position: relative;
}

.img_site_resize{
    width:80px; /* you can use % */
    height: 80px;
}

.position_logo_site{
    margin-top: 5%;
    float: initial;
}

.position_lien_raccourcie{
    float: left;
    margin-right: 10px;
}

.google{
    vertical-align: top;
}